{
  "openapi": "3.0.4",
  "info": {
    "title": "NEIS 학교 및 급식 정보 API",
    "description": "NEIS 교육정보 개방 포털에서 제공하는 학교기본정보 및 급식식단정보 API 명세입니다.",
    "version": "1.0.0",
    "license": {
      "name": "공공누리 제1유형: 출처표시",
      "url": "https://www.kogl.or.kr/info/license.do#01-tab"
    }
  },
  "servers": [
    {
      "url": "https://open.neis.go.kr/hub",
      "description": "NEIS 교육정보 개방 포털"
    }
  ],
  "tags": [
    {
      "name": "schoolInfo",
      "description": "학교기본정보"
    },
    {
      "name": "mealServiceDietInfo",
      "description": "급식식단정보"
    }
  ],
  "security": [
    {
      "NeisApiKey": []
    }
  ],
  "paths": {
    "/schoolInfo": {
      "get": {
        "tags": [
          "schoolInfo"
        ],
        "summary": "학교기본정보 조회",
        "description": "전국 학교의 기본정보를 조회합니다. 요청 횟수에는 제한이 없습니다.",
        "operationId": "getSchoolInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/PIndex"
          },
          {
            "$ref": "#/components/parameters/PSize"
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "required": false,
            "description": "시도교육청코드. 학교를 관리하는 시도교육청 기관코드입니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "required": false,
            "description": "행정표준코드. 행정안전부 행정표준코드 관리시스템에서 제공하는 기관 코드입니다.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SCHUL_NM",
            "in": "query",
            "required": false,
            "description": "학교명",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SCHUL_KND_SC_NM",
            "in": "query",
            "required": false,
            "description": "학교종류명",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "LCTN_SC_NM",
            "in": "query",
            "required": false,
            "description": "학교가 소속된 시도교육청이 위치한 시도명",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FOND_SC_NM",
            "in": "query",
            "required": false,
            "description": "학교 설립주체에 따른 설립명",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolInfoResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/SchoolInfoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/mealServiceDietInfo": {
      "get": {
        "tags": [
          "mealServiceDietInfo"
        ],
        "summary": "급식식단정보 조회",
        "description": "학교별 급식 식단 정보를 조회합니다. 요청 횟수에는 제한이 없습니다.",
        "operationId": "getMealServiceDietInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/Type"
          },
          {
            "$ref": "#/components/parameters/PIndex"
          },
          {
            "$ref": "#/components/parameters/PSize"
          },
          {
            "name": "ATPT_OFCDC_SC_CODE",
            "in": "query",
            "required": true,
            "description": "시도교육청구분코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "SD_SCHUL_CODE",
            "in": "query",
            "required": true,
            "description": "행정표준코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MMEAL_SC_CODE",
            "in": "query",
            "required": false,
            "description": "식사구분코드",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "MLSV_YMD",
            "in": "query",
            "required": false,
            "description": "급식일자(YYYYMMDD)",
            "schema": {
              "$ref": "#/components/schemas/DateString"
            }
          },
          {
            "name": "MLSV_FROM_YMD",
            "in": "query",
            "required": false,
            "description": "급식시작일자(YYYYMMDD)",
            "schema": {
              "$ref": "#/components/schemas/DateString"
            }
          },
          {
            "name": "MLSV_TO_YMD",
            "in": "query",
            "required": false,
            "description": "급식종료일자(YYYYMMDD)",
            "schema": {
              "$ref": "#/components/schemas/DateString"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MealServiceDietInfoResponse"
                }
              },
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/MealServiceDietInfoResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "NeisApiKey": {
        "type": "apiKey",
        "in": "query",
        "name": "KEY",
        "description": "인증키. 인증키가 없으면 sample key가 사용됩니다."
      }
    },
    "parameters": {
      "Type": {
        "name": "Type",
        "in": "query",
        "required": true,
        "description": "호출 문서 형식",
        "schema": {
          "type": "string",
          "enum": [
            "xml",
            "json"
          ],
          "default": "xml"
        }
      },
      "PIndex": {
        "name": "pIndex",
        "in": "query",
        "required": true,
        "description": "페이지 위치. sample key 사용 시 1로 고정됩니다.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        }
      },
      "PSize": {
        "name": "pSize",
        "in": "query",
        "required": true,
        "description": "페이지당 요청 건수. sample key 사용 시 5로 고정되며 최대 1,000건입니다.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 1000,
          "default": 100
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "필수값 누락, 서비스 없음, 요청 위치 타입 오류 또는 최대 요청 건수 초과",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "인증키가 유효하지 않거나 사용이 제한됨",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "TooManyRequests": {
        "description": "일별 트래픽 제한 초과",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ServerError": {
        "description": "서버, 데이터베이스 연결 또는 SQL 오류",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          },
          "application/xml": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    },
    "schemas": {
      "DateString": {
        "type": "string",
        "pattern": "^\\d{8}$",
        "example": "20260814"
      },
      "Result": {
        "type": "object",
        "description": "NEIS API 처리 결과",
        "required": [
          "CODE",
          "MESSAGE"
        ],
        "properties": {
          "CODE": {
            "type": "string",
            "description": "결과 코드",
            "example": "INFO-000"
          },
          "MESSAGE": {
            "type": "string",
            "description": "결과 메시지",
            "example": "정상 처리되었습니다."
          }
        }
      },
      "Head": {
        "type": "object",
        "description": "응답 헤더 항목",
        "properties": {
          "list_total_count": {
            "type": "integer",
            "description": "전체 데이터 건수"
          },
          "RESULT": {
            "$ref": "#/components/schemas/Result"
          }
        }
      },
      "SchoolInfoRow": {
        "type": "object",
        "description": "학교기본정보 항목",
        "properties": {
          "ATPT_OFCDC_SC_CODE": {
            "type": "string",
            "description": "시도교육청코드"
          },
          "ATPT_OFCDC_SC_NM": {
            "type": "string",
            "description": "시도교육청명"
          },
          "SD_SCHUL_CODE": {
            "type": "string",
            "description": "행정표준코드"
          },
          "SCHUL_NM": {
            "type": "string",
            "description": "학교명"
          },
          "ENG_SCHUL_NM": {
            "type": "string",
            "description": "영문학교명"
          },
          "SCHUL_KND_SC_NM": {
            "type": "string",
            "description": "학교종류명"
          },
          "LCTN_SC_NM": {
            "type": "string",
            "description": "시도명"
          },
          "JU_ORG_NM": {
            "type": "string",
            "description": "관할조직명"
          },
          "FOND_SC_NM": {
            "type": "string",
            "description": "설립명"
          },
          "ORG_RDNZC": {
            "type": "string",
            "description": "도로명우편번호"
          },
          "ORG_RDNMA": {
            "type": "string",
            "description": "도로명주소"
          },
          "ORG_RDNDA": {
            "type": "string",
            "description": "도로명상세주소"
          },
          "ORG_TELNO": {
            "type": "string",
            "description": "전화번호"
          },
          "HMPG_ADRES": {
            "type": "string",
            "description": "홈페이지주소(URL)"
          },
          "COEDU_SC_NM": {
            "type": "string",
            "description": "남녀공학구분명"
          },
          "ORG_FAXNO": {
            "type": "string",
            "description": "팩스번호"
          },
          "HS_SC_NM": {
            "type": "string",
            "description": "고등학교구분명"
          },
          "INDST_SPECL_CCCCL_EXST_YN": {
            "type": "string",
            "description": "산업체특별학급존재여부"
          },
          "HS_GNRL_BUSNS_SC_NM": {
            "type": "string",
            "description": "고등학교일반전문구분명"
          },
          "SPCLY_PURPS_HS_ORD_NM": {
            "type": "string",
            "description": "특수목적고등학교계열명"
          },
          "ENE_BFE_SEHF_SC_NM": {
            "type": "string",
            "description": "입시전후기구분명"
          },
          "DGHT_SC_NM": {
            "type": "string",
            "description": "주야구분명"
          },
          "FOND_YMD": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DateString"
              }
            ],
            "description": "설립일자"
          },
          "FOAS_MEMRD": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DateString"
              }
            ],
            "description": "개교기념일"
          },
          "LOAD_DTM": {
            "type": "string",
            "description": "정보 수정 및 저장 일자"
          }
        }
      },
      "MealServiceDietInfoRow": {
        "type": "object",
        "description": "급식식단정보 항목",
        "properties": {
          "ATPT_OFCDC_SC_CODE": {
            "type": "string",
            "description": "시도교육청코드"
          },
          "ATPT_OFCDC_SC_NM": {
            "type": "string",
            "description": "시도교육청명"
          },
          "SD_SCHUL_CODE": {
            "type": "string",
            "description": "행정표준코드"
          },
          "SCHUL_NM": {
            "type": "string",
            "description": "학교명"
          },
          "MMEAL_SC_CODE": {
            "type": "string",
            "description": "식사구분코드"
          },
          "MMEAL_SC_NM": {
            "type": "string",
            "description": "식사구분명"
          },
          "MLSV_YMD": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DateString"
              }
            ],
            "description": "급식일자"
          },
          "MLSV_FGR": {
            "type": "number",
            "description": "급식인원수"
          },
          "DDISH_NM": {
            "type": "string",
            "description": "요리명"
          },
          "ORPLC_INFO": {
            "type": "string",
            "description": "원산지정보"
          },
          "CAL_INFO": {
            "type": "string",
            "description": "칼로리정보"
          },
          "NTR_INFO": {
            "type": "string",
            "description": "영양정보"
          },
          "MLSV_FROM_YMD": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DateString"
              }
            ],
            "description": "급식시작일자"
          },
          "MLSV_TO_YMD": {
            "allOf": [
              {
                "$ref": "#/components/schemas/DateString"
              }
            ],
            "description": "급식종료일자"
          },
          "LOAD_DTM": {
            "type": "string",
            "description": "적재일시"
          }
        }
      },
      "SchoolInfoResponseItem": {
        "type": "object",
        "properties": {
          "head": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Head"
            }
          },
          "row": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchoolInfoRow"
            }
          }
        }
      },
      "MealServiceDietInfoResponseItem": {
        "type": "object",
        "properties": {
          "head": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Head"
            }
          },
          "row": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MealServiceDietInfoRow"
            }
          }
        }
      },
      "SchoolInfoResponse": {
        "type": "object",
        "properties": {
          "schoolInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SchoolInfoResponseItem"
            }
          },
          "RESULT": {
            "$ref": "#/components/schemas/Result"
          }
        }
      },
      "MealServiceDietInfoResponse": {
        "type": "object",
        "properties": {
          "mealServiceDietInfo": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MealServiceDietInfoResponseItem"
            }
          },
          "RESULT": {
            "$ref": "#/components/schemas/Result"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "NEIS 오류 응답. ERROR-300(필수값 누락), ERROR-290(인증키 오류), ERROR-310(서비스 없음), ERROR-333(요청 위치 타입 오류), ERROR-336(최대 요청 건수 초과), ERROR-337(트래픽 초과), ERROR-500(서버 오류), ERROR-600(DB 연결 오류), ERROR-601(SQL 오류) 등을 반환합니다.",
        "required": [
          "RESULT"
        ],
        "properties": {
          "RESULT": {
            "$ref": "#/components/schemas/Result"
          }
        }
      }
    }
  }
}
